{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Participant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idparticipant</th>
                <th>Datepar</th>
                <th>Numero</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.idparticipant }}</td>
                <td>{{ participant.datepar ? participant.datepar|date('Y-m-d') : '' }}</td>
                <td>{{ participant.numero }}</td>
                <td>
                    <a href="{{ path('app_participant_show', {'idparticipant': participant.idparticipant}) }}">show</a>
                    <a href="{{ path('app_participant_edit', {'idparticipant': participant.idparticipant}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participant_new') }}">Create new</a>
{% endblock %}
