{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
</br></br>
</br>

    <h1>Reclamation index</h1>

      

    <table border="1" class="table">
        <thead>
            <tr>
                <th>Idrec</th>
                <th>Date</th>
                <th>Description</th>
                <th>Typerec</th>
                <th>Etatrec</th>
            </tr>
        </thead>
        <tbody>
            {% for reclamation in pagination %}
            <tr class="
                    {% if reclamation.etatrec == 'resolue' %}
                        bg-success-light  
                    {% elseif reclamation.etatrec == 'en_attente' %}
                        bg-warning-light  
                    {% else %}
                        bg-secondary-light <!-- Classe par défaut -->
                    {% endif %}
                    ">
                <td>{{ reclamation.idrec }}</td>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.typerec }}</td>
                <td >{{ reclamation.etatrec }}</td>
               
                <td>
                  <button class="btn btn-primary" onclick="window.location.href='{{ path('app_reclamation_export_excel', {'idrec': reclamation.idrec}) }}'">
    Exporter vers Excel
</button>
                </td>
                 <td>
                    <button class="btn btn-secondary" onclick="window.location.href='{{ path('app_reclamation_show', {'idrec': reclamation.idrec}) }}'">
                        Show
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning" onclick="window.location.href='{{ path('app_reclamation_answer', {'idrec': reclamation.idrec}) }}'">
                        Repondre
                    </button>  </td>
                     <td>
                    {{ include('reclamation/_delete_form.html.twig') }}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="fils" style="padding-left: 300px;">
        {{ knp_pagination_render(pagination) }}
    </div>
     
    </div>
 



</div>
{% endblock %}