{% extends 'front.html.twig' %}

 {% block title %} <title>Avis  </title>{% endblock %}

{% block body %}
  <div class="container">
        <h1>Tu peux ajouter un Avis</h1>
		        {% include 'avis/flash_messages.html.twig' %}
				</br></br>
		<a href="{{ path('app_top_three_views') }}" type="submit" class="btn btn-primary">Most Three Avis</a>
        <section class="section">
            <div class="owl-menu-item owl-carousel">
                {% for avi in avis %}
				
                    <figure class="snip1390 testimonial">
                        <img src="{{ asset('platimage/amin.jpg') }}" alt="profile-sample3" class="profile"/>
                        <figcaption>
                            <h2>{{ avi.user.username }}</h2>
                            <h4>{{ avi.titreavis }}</h4>
                            <blockquote class="scrollable-block">{{ avi.pubavis }}</blockquote>
                            <table>
                            <div class= "nar">
                                <tr>

                                   {% if app.user.iduser == avi.user.getIduser() %}
                                        
                                        <td>
                                            {{ include('avis/_delete_formFront.html.twig') }}
                                             
                                            </td>
                                    <td>
                                          <a href="{{ path('app_avis_editFront', {'id': avi.id}) }}" class="btn btn-success rounded-pill py-2 px-4">
                                                <i class="fa fa-edit fa-spin"></i> 
                                            </a>
                                        {% endif %}
                                    <td>
                                        <a href="{{ path('app_avis_show55', {'id': avi.id}) }}" class="btn btn-success rounded-pill py-2 px-4">
                                            <i class="fa fa-eye ">{{ avi.nbVue }}</i> 
                                        </a>
                                    </td>
                                    
                                     
                                    </td>
                                </tr>
                                </div>
                            </table>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>

        </section>
		 {% block iheb %}

    {% endblock %}
    </div>

    <form method="get" action="{{ path('app_avis_new55') }}">
<button type="submit" class="btn btn-primary">Create new</button>

</form>


</div>


<script>/* Demo purposes only */
$(".hover").mouseleave(function () {
$(this).removeClass("hover");
});
const testimonials = document.querySelectorAll('.testimonial');
const btnPrev = document.querySelector('.btn-prev');
const btnNext = document.querySelector('.btn-next');

// Ajoutez des écouteurs d'événements pour contrôler les animations
testimonials.forEach(testimonial => {
testimonial.addEventListener('mouseenter', function () {
if (testimonial.dataset.state === 'paused') {
testimonial.classList.add('animating');
}
});

testimonial.addEventListener('mouseleave', function () {
if (testimonial.dataset.state === 'paused') {
testimonial.classList.remove('animating');
}
});

testimonial.addEventListener('click', function () {
if (testimonial.dataset.state === 'paused') {
testimonial.dataset.state = 'playing';
} else {
testimonial.dataset.state = 'paused';
}
testimonial.classList.toggle('animating');
});
});

// Ajoutez des écouteurs d'événements pour les boutons de navigation
btnPrev.addEventListener('click', function () {
// Logique pour passer au testimonial précédent
// Par exemple, utilisez une variable pour suivre l'index du testimonial actuel et changez-le vers le précédent
});

btnNext.addEventListener('click', function () {
// Logique pour passer au testimonial suivant
// Par exemple, utilisez une variable pour suivre l'index du testimonial actuel et changez-le vers le suivant
});</script><style>@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome / 4.4.0/css/font-awesome.min.css');
figure.snip1390 {
	font-family: 'Roboto', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 10px 60px 10px 10px;
	min-width: 230px;
	max-width: 315px;
	width: 0;
	color: #000000;
	text-align: center;
	font-size: 16px;
	background-color: #FFFAFA;
	padding: 30px;
	background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
  
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
figure.snip1390 figcaption {
	width: 100%;
}
.nar{
  padding-left: -12px !important ;
}
/* CSS pour les cartes (cards) */
.owl-carousel .owl-item .snip1390 {
	margin-right: 94px !important; /* Marge entre chaque carte */
	width: auto !important;
	margin-left: 94px !important; /* Largeur automatique pour afficher complètement chaque carte */
}
.vard .owl-carousel .owl-item {
	height: 700 !important;

}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
	margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
	font-weight: 300;
}
figure.snip1390 h2 {
	color: #FB5849;
}
figure.snip1390 h4 {
	color: #1E1E1E;
}
figure.snip1390 blockquote {
	font-size: 1em;
	padding: 45px 20px 40px 50px;
	margin-top: 30px;
	background-color: #FB5849;
	border-radius: 5px;
	box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
	text-align: left;
	position: relative;
	height: 150px; /* Hauteur fixe pour la citation */
	overflow-y: auto;
}
figure.snip1390 blockquote:before {
	font-family: 'FontAwesome';
	content: "\201C";
	position: absolute;
	font-size: 70px;
	opacity: 0.25;
	font-style: normal;
	top: 0;
	left: 20px;
}


figure.snip1390 .profile {
	width: 100px;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
	margin-bottom: 10px;
	border: solid 5px #A6A57A;
}</style>{% endblock %}
