{% extends 'base.html.twig' %}

{% block title %}Badge index{% endblock %}

{% block body %}
    <div class="fils" style="padding-left: 300px;">
        <h1>Badge index</h1>

        <table class="table table-hover">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Commentaire</th>
                    <th>Datebadge</th>
                    <th>Typebadge</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for badge in badges %}
                    <!-- Table Row -->
                    <tr>
                        <td>{{ badge.commantaire }}</td>
                        <td>{{ badge.datebadge ? badge.datebadge|date('Y-m-d') : '' }}</td>
                        <td>{{ badge.typebadge }}</td>
<td>
    <!-- Actions Buttons -->
    <div class="button-container">
        <button class="btn btn-secondary" onclick="window.location.href='{{ path('app_badge_show', {'id': badge.id}) }}'">
            Show
        </button>
      
      <a class="btn btn-success rounded-pill py-2 px-4" href="{{ path('app_badge_edit', {'id': badge.id}) }}">
											<i class="bi bi-pencil"></i>
										</a>
    </div>
    {{ include('badge/_delete_formFront.html.twig') }}
</td>

                    </tr>
                {% else %}
                    <!-- No Records Found -->
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        
        <div class="pagination">
            {{ knp_pagination_render(badges) }}
        </div>
       

        
        <a href="{{ path('app_badge_new') }}" class="btn btn-primary">
			<i class="bi bi-plus"></i>
			Ajouter
		</a>
    </div>

    
      <style>
        .pagination {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        .pagination li {
            margin: 0 5px;
        }

       .button-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    white-space: nowrap;
}


.button-container button {
    margin-right: 10px; /* Espacement entre les boutons */
}

        .pagination a {
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid #3498db; /* Bleu */
            border-radius: 3px;
            color: #3498db; /* Bleu */
        }

        .pagination a:hover {
            background-color: #3498db; /* Bleu au survol */
            color: #fff; /* Texte blanc au survol */
        }
    </style>

{% endblock %}

