{% extends 'base.html.twig' %}

{% block title %}Badge index{% endblock %}

{% block body %}
    <h1>Badge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commantaire</th>
                <th>Datebadge</th>
                <th>Typebadge</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for badge in badges %}
            <tr>
                <td>{{ badge.id }}</td>
                <td>{{ badge.commantaire }}</td>
                <td>{{ badge.datebadge ? badge.datebadge|date('Y-m-d') : '' }}</td>
                <td>{{ badge.typebadge }}</td>
                <td>
                    <a href="{{ path('app_badge_show', {'id': badge.id}) }}">show</a>
                    <a href="{{ path('app_badge_edit', {'id': badge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_badge_new') }}">Create new</a>
{% endblock %}
