{% extends 'front.html.twig' %}

{% block title %}Badge{% endblock %}

{% block bodyr %}
<div class="fils" style="padding-left: 300px;">
    <h1>Badge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ badge.id }}</td>
            </tr>
            <tr>
                <th>Commantaire</th>
                <td>{{ badge.commantaire }}</td>
            </tr>
            <tr>
                <th>Datebadge</th>
                <td>{{ badge.datebadge ? badge.datebadge|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Typebadge</th>
                <td>{{ badge.typebadge }}</td>
            </tr>
        </tbody>
    </table>

   

    <a href="{{ path('app_badge_indexFront') }}" class="btn btn-outline-dark">Return</a>

    

    {{ include('badge/_delete_formFront.html.twig') }}
    </div>
{% endblock %}
