{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
<div class="fils" style="padding-left: 300px;">
    <h1>Restaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdRestau</th>
                <td>{{ restaurant.idRestau }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ restaurant.nom }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ restaurant.location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_restaurant_index') }}">back to list</a>

    <a href="{{ path('app_restaurant_edit', {'idRestau': restaurant.idRestau}) }}">edit</a>

    {{ include('restaurant/_delete_form.html.twig') }}
    </div>
{% endblock %}
