{% extends 'base.html.twig' %}

{% block title %}Achat index{% endblock %}

{% block body %}
    <h1>Achat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idachat</th>
                <th>Montanttotal</th>
                <th>Quantite</th>
                <th>Date</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
            <tr>
                <td>{{ achat.idachat }}</td>
                <td>{{ achat.montanttotal }}</td>
                <td>{{ achat.quantite }}</td>
                <td>{{ achat.date ? achat.date|date('Y-m-d') : '' }}</td>
                <td>{{ achat.type }}</td>
                <td>
                    <a href="{{ path('app_achat_show', {'idachat': achat.idachat}) }}">show</a>
                    <a href="{{ path('app_achat_edit', {'idachat': achat.idachat}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_achat_new') }}">Create new</a>
{% endblock %}
